<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a2msproject.berbagi_layout">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_berbagi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_berbagi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Donatur_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Panti_Asuhan_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Donatur.MainActivityDonatur"
            android:label="Berita"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Panti.MainActivityPantiAsuhan"
            android:label="Berita"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>